@charset "UTF-8";
/* CSS Document */
.help-inline{ color:#CCC; font-size:13px; font-family:"宋体";}
.sort-s-button{ margin-top:-6px; padding-bottom:14px;}
.sort-s-post{ height:auto;}
.sort-s-post ul{list-style-type:none; margin-top:10px; margin-left:0px;}
.sort-s-post ul li{ line-height:22px; display:block; overflow:hidden;}
.sort-s-post ul li.t1 {background-color:#f8f8f8; padding-left:4px;}/* 第一行的背景色 */
.sort-s-post li.t2{background-color:#ffffff; padding-left:4px;}/* 第二行的背景色 */
.sort-s-post li.t3 {background-color:#007fc4; color:#FFF; padding-left:4px;}/* 鼠标经过时的背景色 */

.icon2-turn{ background:url(../../img/hp_icon.png) no-repeat -80px 0px; float:left; width:16px; margin-left:4px; height:30px;
 opacity:0.4px;-moz-opacity:0.4; -ms-opacity:0.4; -webkit-opacity: 0.4; }
.icon2-no{width:11px}


.box-class{width:auto; height:auto;min-width:220px; max-height:550px; left:34%;}
.box-class .modal-header{ height:30px; line-height:30px; margin-left:16px;}
.box-class .modal-header .th1-setup,.box-class .modal-header .th2-setup,.box-class .modal-header .th3-setup,.box-class .modal-header .th4-setup,.box-class .modal-header .th5-setup,.box-class .modal-header .th6-setup,.box-class .modal-header .th7-setup{float:left; display:none}
.box-class .modal-header .th1-setup{ width:180px;}
.box-class .modal-header .th2-setup,.box-class .modal-header .th3-setup,.box-class .modal-header .th4-setup,.box-class .modal-header .th5-setup{ width:180px; margin-left:39px}
.box-class .modal-header .ed{ color:#ccc; display:block}
.box-class .modal-header .ing{ color:#007fc4; display:block}
.box-class .modal-body{ padding:0px; padding-top:15px; padding-right:2px; padding-bottom:6px;}
.box-class .modal-body ul{ list-style:none; display:none}
.box-class .modal-body ul li{ list-style:none;}
.box-class .modal-body .th1{ width:220px; max-height:400px; overflow:auto; position:relative; float:left;}
.box-class .modal-body .th1 .icon-chevron-right{ float:right; margin-right:4px; position:absolute; right:6px; top:6px; opacity:0.4px;-moz-opacity:0.4; -ms-opacity:0.4; -webkit-opacity: 0.4; }
.box-class .modal-body .th1 ul li a{ color:#333; display:block; width:180px;  height:100%; line-height:normal; float:left;  padding-left:6px; height:30px; line-height:30px;border-bottom:1px solid #CCC; cursor:pointer; position:relative}
.box-class .modal-body .th1 ul li a:hover{ color:#FFF; background-color:#007fc4; text-decoration:none;}
.box-class .modal-body .th1 ul li .selected{color:#FFF; background-color:#007fc4;}
.box-class .modal-body .th1 ul .up-more{ position:absolute; top:0px; overflow:hidden; height:30px;opacity:0.9px;-moz-opacity:0.9; -ms-opacity:0.9; -webkit-opacity: 0.9; }
.box-class .modal-body .th1 ul .down-more{ position:absolute; bottom:0px; overflow:hidden; height:30px;opacity:0.9px;-moz-opacity:0.9; -ms-opacity:0.9; -webkit-opacity: 0.9; }
.box-class .modal-body .th-hover{ background:#f9f9f9;height:396px; }
.box-class .modal-body .th2{ width:380px; margin-right:10px; padding-right:10px; padding-left:10px; float:left; height:396px; overflow:auto; position:relative;}
.box-class .modal-body .th2 ul{ list-style:none; overflow: hidden}
.box-class .modal-body .th2 ul li{ list-style:none; float:left; width:50%;}
.checker{height:38px;}
.box-class .modal-body .th2 h4{ position:relative;}
.box-class .modal-body .th2 h4 span{ position: absolute; right:4px; top:auto; font-size:14px;}
.box-class .none{ display:none;}

#loading{ display:block;}


.help-inline{ color:#CCC; font-size:13px; font-family:"宋体";}
.textshow{ line-height:30px;}
.textshow2 .emed{ display:none}
.textshow2 .em2{ background:#f9f9f9; width:auto; padding-left:2px; padding-right:2px; border-left:none;}
.textshow2{ line-height:30px; margin-left:160px;}
.result{ width:100%; margin-left:-10px; display:none}
.result ul{ list-style:none; background:#FFF;
border-radius:4px;
-moz-border-radius:4px;
-webkit-border-radius:4px;
border:1px solid #CCC;
padding-top:6px; padding-bottom:2px;
position:relative;
}
.result ul li{ clear:both; line-height:30px}
.result ul li .control-label{ width:142px;}
.result ul .icon-modify{ position:absolute; right:74px; top:6px; width:38px;}
.result ul .icon-del{ position:absolute; right:10px; top:6px; width:38px;}
.result ul .allno{ background:none;border:none; width:90px;color:#4087b2; text-decoration:underline; cursor:pointer; outline:none;}