@charset "UTF-8";
/* CSS Document */
hr{
width:100%;
float:left;
}
.icon2-turn{ background:url(../../img/hp_icon.png) no-repeat -80px 0px; float:left; width:16px; height:30px;
-moz-opacity:0.2;
-khtml-opacity: 0.2;
opacity: 0.2;}
.opacity{-moz-opacity:0.5;
-khtml-opacity: 0.5;
opacity: 0.5;}
.icon2-o{-moz-opacity:0.4;
-khtml-opacity: 0.4;
opacity: 0.4;}
.emed{ margin-bottom:0;}
.table input{ margin-bottom:0;}
.table2 tr td{ padding:4px;}
.table .table-hang{ background:#f9f9f9}
.sort-add{ display:block; float:left; background:url(../../img/hp_icon.png) no-repeat -118px 0px; width:28px; height:30px; cursor:pointer;}
.sort-add-re{background-position:-145px 0px;}
.no{ display:none;}
.sort-property,.sort-channel{ line-height:30px;}
.add-big{ padding-top:6px; padding-bottom:10px;}

.table2{ background:none;}
.table2 tr{background:none;}
.table2 tr td{ border:none;background:none;}

.colors{ display:inline-block; width:12px; height:12px; margin-left:4px; background:#FFF}

/*颜色选择控件 CSS*/
	.farbtastic {
  position: relative;
}
.farbtastic * {
  position: absolute;
  cursor: crosshair;
}
.farbtastic, .farbtastic .wheel {
  width: 195px;
  height: 195px;
}
.farbtastic .color, .farbtastic .overlay {
  top: 47px;
  left: 47px;
  width: 101px;
  height: 101px;
}
.farbtastic .wheel {
  background: url(../../img/wheel.png) no-repeat;
  width: 195px;
  height: 195px;
}
.farbtastic .overlay {
  background: url(../../img/mask.png) no-repeat;
}
.farbtastic .marker {
  width: 17px;
  height: 17px;
  margin: -8px 0 0 -8px;
  overflow: hidden; 
  background: url(../../img/marker.png) no-repeat;
}

#newadd{ display:none}

.re-button1,.re-button2{height:22px;padding:6px; padding-top:0px; padding-bottom:3px; font-size:12px;}
.tab-title{ width:72px; height:19px; line-height:19px; padding:0px; margin-bottom:7px; font-size:12px; padding-left:2px;}

#myTab li{ position:relative}
#myTab li .del-position{ position:absolute; right:3px; top:0px;-moz-opacity:0.4;-webkit-opacity: 0.4;opacity: 0.4;}
#myTab li .del-active{-moz-opacity:0.1;-webkit-opacity: 0.1;opacity: 0.1;}
#tab0{ line-height:30px; color:#F00}